# Configuración de Base de Datos
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/lawyer_db?schema=public"
# Configuración de JWT
JWT_SECRET="your_ultra_secure_secret"
#Configuración de Google Drive
GOOGLE_SERVICE_ACCOUNT_KEY='{"type": "service_account", ...}'
GOOGLE_DRIVE_PARENT_FOLDER_ID=idFolderGoogleDrive
GOOGLE_CLIENT_ID=ID-CLIENTID.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=CLIENT-SECRET
GOOGLE_REFRESH_TOKEN=1//GOOGLE-REFREsh-token
# Configuración de Email (Hostinger)
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=notificaciones@tu-dominio.com
SMTP_PASS=tu-contraseña-secreta
# URL del sistema para los enlaces en los correos
FRONTEND_URL=https://tu-plataforma-legal.com
# Puerto expuesto para conexión
PORT=3000